@model IEnumerable<AppleStore_MVC.Data.User>

@{
	ViewData["Title"] = "Index";
}

<!-- Begin Page Content -->
<div class="container-fluid">
	@if (TempData["ErrorMessage"] != null)
	{
		<div class="alert alert-danger">@TempData["ErrorMessage"]</div>
	}

	@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
	{
		<div class="alert alert-danger">@ViewBag.ErrorMessage</div>
	}
	<div class="card shadow mb-4">
		<div class="card-header py-3 d-flex justify-content-between align-items-center">
			<h6 class="m-0 font-weight-bold text-primary">Users</h6>
			<a class="btn btn-primary" asp-action="Create">Add User</a>
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
					<thead>
						<tr>
							@* <th>
								@Html.DisplayNameFor(model => model.UserId)
							</th> *@
							<th>
								User Name
							</th>
							<th>
								@Html.DisplayNameFor(model => model.Password)
							</th>
							<th>
								Is Admin
							</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							<tr>
								@* <td>
									@Html.DisplayFor(modelItem => item.UserId)
								</td> *@
								<td>
									@Html.DisplayFor(modelItem => item.UserName)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.Password)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.IsAdmin)
								</td>
								<td>
									<a asp-action="Edit" asp-route-id="@item.UserId">Edit</a> |
									<a asp-action="Details" asp-route-id="@item.UserId">Details</a> |
									<a asp-action="Delete" asp-route-id="@item.UserId">Delete</a>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>

		</div>

	</div>

</div>
