@model IEnumerable<AppleStore_MVC.Data.Cart>

@{
	ViewData["Title"] = "Index";
}

<!-- Begin Page Content -->
<div class="container-fluid">
	@if (TempData["ErrorMessage"] != null)
	{
		<div class="alert alert-danger">@TempData["ErrorMessage"]</div>
	}

	@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
	{
		<div class="alert alert-danger">@ViewBag.ErrorMessage</div>
	}
	<div class="card shadow mb-4">
		<div class="card-header py-3 d-flex justify-content-between align-items-center">
			<h6 class="m-0 font-weight-bold text-primary">Carts</h6>
			<a class="btn btn-primary" asp-action="Create">Add Cart</a>
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>
								Card Id
							</th>
							<th>
								Buy Date
							</th>
							<th>
								User Name
							</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							<tr>
								<td>
									@Html.DisplayFor(modelItem => item.id)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.buy_date)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.User_Of_Cart.UserName)
								</td>
								<td>
									<a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
									<a asp-action="Details" asp-route-id="@item.id">Details</a> |
									<a asp-action="Delete" asp-route-id="@item.id">Delete</a>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>

</div>